node_red_data/.flows.json.backup
[
    {
        "id": "e805546f0a3c68dc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b266ebdaa951f82e",
        "type": "consumed-thing",
        "tdLink": "http://localhost:8080/storageRack",
        "td": "{\"@context\":\"https://www.w3.org/2019/wot/td/v1\",\"id\":\"tag:storageRack\",\"title\":\"storageRack\",\"description\":\"VL10 storage rack with a Cartesian robot and a conveyor belt. It can be used as a conveying workshop: The Cartesian robot can be used to move on the XZ-plane, pick up items from the storage rack and place them on the one end of the conveyor belt.\",\"securityDefinitions\":{\"with_auth\":{\"scheme\":\"basic\"}},\"security\":[\"with_auth\"],\"properties\":{\"stackLightStatus\":{\"readOnly\":true,\"description\":\"Reads the status of the workshop (e.g. the status is 'yellow' when the workshop is resetting.)\",\"type\":\"string\",\"enum\":[\"green\",\"yellow\",\"red\"],\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"http://172.20.0.3:8080/storageRack/properties/stackLightStatus\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"capacity\":{\"readOnly\":true,\"description\":\"Reads the capacity of the 2D storage rack E.g. a [5,5] capacity indicates that the rack has 5 rows (X axis) and 5 columns (Z axis), and it can store at most 25 items.\",\"type\":\"array\",\"maxItems\":2,\"minItems\":2,\"items\":{\"type\":\"number\"},\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"http://172.20.0.3:8080/storageRack/properties/capacity\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"positionX\":{\"readOnly\":true,\"description\":\"Reads the position of the Cartesian motor on the X axis (in meters).\",\"type\":\"number\",\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"http://172.20.0.3:8080/storageRack/properties/positionX\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"positionZ\":{\"readOnly\":true,\"description\":\"Reads the position of the Cartesian motor on the Z axis (in meters).\",\"type\":\"number\",\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"http://172.20.0.3:8080/storageRack/properties/positionZ\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"clampStatus\":{\"readOnly\":true,\"description\":\"Reads the status of the clamp of the Cartesian robot. The status is true if the clamp is closed, and false if the clamp is open.\",\"type\":\"boolean\",\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"http://172.20.0.3:8080/storageRack/properties/clampStatus\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"}]},\"conveyorSpeed\":{\"description\":\"Reads and writes the speed (X axis) of the conveyor belt (and the Cartesian robot that moves along the belt) (in meters/sec). The maximum speed is 1 meter/sec.\",\"type\":\"number\",\"readOnly\":false,\"writeOnly\":false,\"observable\":false,\"forms\":[{\"href\":\"http://172.20.0.3:8080/storageRack/properties/conveyorSpeed\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]}]}},\"actions\":{\"pressEmergencyStop\":{\"description\":\"Turns off all active components of the machine: It sets the conveyor speed to 0, and a human operator is called to remove any items that have been placed on the conveyor belt.\",\"forms\":[{\"href\":\"http://172.20.0.3:8080/storageRack/actions/pressEmergencyStop\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false},\"pickItem\":{\"description\":\"Picks an item from the storage rack and places it on the conveyor belt. E.g. to pick up the first item in the storage rack, the action must be invoked with input [0,0]. To monitor the state of the action, one can read the clamp status and the XZ-positions of the Cartesian robot. E.g. once the clamp is open again, the action has been completed.\",\"input\":{\"type\":\"array\",\"description\":\"Position of the item on the XZ-plane.\",\"maxItems\":2,\"minItems\":2,\"items\":{\"type\":\"number\"}},\"forms\":[{\"href\":\"http://172.20.0.3:8080/storageRack/actions/pickItem\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false}},\"@type\":\"Thing\",\"forms\":[{\"href\":\"http://172.20.0.3:8080/storageRack/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\",\"writeallproperties\",\"writemultipleproperties\"]}]}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": false,
        "username": "simu1",
        "password": "simu1"
    },
    {
        "id": "68771b2c7cbf1435",
        "type": "ui_tab",
        "name": "AI4Industry",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d6119834aafe5647",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "af01b77fb8bb6794",
        "type": "ui_group",
        "name": "Storage Rack",
        "tab": "68771b2c7cbf1435",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dab03fb1cc3740cb",
        "type": "read-property",
        "z": "e805546f0a3c68dc",
        "name": "",
        "topic": "",
        "thing": "b266ebdaa951f82e",
        "property": "conveyorSpeed",
        "uriVariables": "",
        "observe": false,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "9dd392df28e5bde9"
            ]
        ]
    },
    {
        "id": "a8bbb8bd96679440",
        "type": "inject",
        "z": "e805546f0a3c68dc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "dab03fb1cc3740cb"
            ]
        ]
    },
    {
        "id": "9dd392df28e5bde9",
        "type": "ui_gauge",
        "z": "e805546f0a3c68dc",
        "name": "",
        "group": "af01b77fb8bb6794",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Conveyor Speed",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 120,
        "wires": []
    }
]